.v-img-reflex {
  position: relative;
  display: inline-block;
  background-color: var(--black);
}
.v-img-reflex .img-wrap {
  width: 240px;
  margin-bottom: 3px;
}
.v-img-reflex .reflex-wrap {
  position: relative;
}
.v-img-reflex .reflex-wrap .reflex {
  width: 100%;
  height: 60px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleY(-1);
  opacity: 0.8;
}
.v-img-reflex .reflex-wrap .reflex-gradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8));
}
.v-collapse {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.v-collapse .c-item .c-head {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 var(--2unit);
  height: var(--5unit);
  line-height: var(--5unit);
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}
.v-collapse .c-item .c-body {
  height: 0;
  background-color: var(--bg-color);
  overflow: hidden;
  transition: height 0.2s ease-out;
}
.v-collapse .c-item.open .c-body {
  height: 200px;
}
.v-html-editor {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-size: var(--small-font);
  background-color: var(--white);
}
.v-html-editor .e-toolbar {
  display: flex;
  align-items: center;
  line-height: 36px;
  border-bottom: 1px solid var(--border-color);
}
.v-html-editor .e-toolbar .v-btn-text {
  padding: 0 var(--unit);
  margin-right: 4px;
}
.v-html-editor .e-toolbar .v-btn-text.active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: var(--bg-color);
}
.v-html-editor .e-toolbar .select {
  width: 48px;
  height: 28px;
  margin: 0 var(--unit);
}
.v-html-editor .e-toolbar .select:hover {
  color: inherit;
}
.v-html-editor .e-content {
  min-height: 400px;
  padding: var(--2unit);
}
.v-share > div + div {
  margin-top: var(--unit);
}
.v-share .icon {
  cursor: pointer;
}
.v-share .icon-wechat-o {
  color: #20a839;
}
.v-share .icon-sina-o {
  color: #e89213;
}
.v-share .icon-qq-o {
  color: #009bdb;
}
.v-share .vs-wechat {
  position: relative;
}
.v-share .vs-wechat .qrcode-wrap {
  position: absolute;
  top: calc(var(--unit) + 20px);
  right: 0;
  padding: var(--2unit);
  border-radius: var(--border-radius);
  background-color: var(--white);
  border: 1px solid var(--border-color);
}
.v-share .vs-wechat .qrcode-wrap p {
  text-indent: 0;
  font-size: var(--tiny-font);
  margin-bottom: 0;
}
.v-step {
  display: flex;
  align-items: center;
}
.v-step .step-item {
  display: flex;
  align-items: center;
  flex: 1;
}
.v-step .step-item .i-content {
  display: flex;
  align-items: center;
  font-size: var(--small-font);
  transition: color 0.3s;
  color: var(--disabled-color);
}
.v-step .step-item .i-content .icon {
  color: var(--disabled-color);
}
.v-step .step-item .i-content > .default-icon {
  border: 1px solid var(--disabled-color);
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 32px;
  font-size: var(--normal-font);
  margin-right: 8px;
  transition: background-color 0.3s, border-color 0.3s;
}
.v-step .step-item .i-content > .default-icon > .icon {
  vertical-align: text-bottom;
}
.v-step .step-item .i-content > .icon {
  margin-right: 8px;
}
.v-step .step-item .i-content.finished {
  color: var(--blue-color);
}
.v-step .step-item .i-content.finished .icon {
  color: var(--blue-color);
}
.v-step .step-item .i-content.finished > .default-icon {
  border-color: var(--blue-color);
}
.v-step .step-item .i-content.processing {
  color: var(--main-color);
  font-weight: bold;
}
.v-step .step-item .i-content.processing .icon {
  color: var(--blue-color);
}
.v-step .step-item .i-content.processing > .default-icon {
  background-color: var(--blue-color);
  color: var(--white);
  border-color: var(--blue-color);
}
.v-step .step-item .i-content.wait {
  color: var(--disabled-color);
}
.v-step .step-item .i-content.wait .icon {
  color: var(--disabled-color);
}
.v-step .step-item .i-line {
  flex: 1;
  border-top: 1px solid var(--disabled-color);
  margin: 0 16px;
}
.v-step .step-item .i-line.success {
  border-color: var(--blue-color);
}
.v-step .step-item:last-child {
  flex: none;
}
.v-tag {
  display: flex;
  align-items: center;
  position: relative;
}
.v-tag .t-selected {
  display: flex;
  align-items: center;
  margin-left: var(--unit);
}
.v-tag .t-selected .tag {
  margin: 0 var(--unit);
}
.v-tag .t-candidates {
  position: absolute;
  top: 30px;
  width: 650px;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin-top: var(--unit);
  display: flex;
  flex-wrap: wrap;
  padding-right: 50px;
  z-index: 100;
}
.v-tag .t-candidates .tag {
  margin: var(--unit) 0 var(--unit) var(--unit);
}
.v-tag .t-candidates .icon-close {
  position: absolute;
  top: var(--unit);
  right: var(--unit);
  cursor: pointer;
}
