@import "Bootstrapping/Variables";
@import "Bootstrapping/Mixins";

.container {
    display: flex;
    justify-content: flex-start;
    .panel-left {
        width: 30%;
        background-color: @bgColor;
    }
    .panel-right {
        width: 70%;
        padding: 30px;
    }
    .cell{
        .title {
            font-size: 18px;
            padding-bottom: 10px;
            border-bottom: 1px solid @borderColor;
        }
        .content {
            .hvcenter;
            min-height: 480px;
            > * {
                margin-right: 20px;
            }
            .vue-html-editor {
                margin-top: 20px;
                width: 80%;
            }
        }
    }
}
