@import "Bootstrapping/Variables";
@import "Bootstrapping/Mixins";

.container {
    display: flex;
    justify-content: flex-start;
    .panel-left {
        width: 20%;
        min-width: 360px;
        background-color: @bgColor;
        .list {
            position: fixed;
            margin-top: 20px;
            margin-left: 40px;
            li {
                line-height: 36px;
                border-bottom: 1px solid @borderColor;
                a {
                    display: block;
                    height: 100%;
                }
            }
        }
    }
    .panel-right {
        flex-grow: 1;
    }
    .cell {
        border-bottom: 1px solid @borderColor;
        .title {
            font-size: 18px;
            background-color: transparent;
        }
        .content {
            .hvcenter;
            min-height: 480px;
            > * {
                margin-right: 20px;
            }
            .vue-html-editor {
                margin: 20px 0;
                width: 80%;
            }
        }
    }
}
