@import "../Bootstrapping/Variables";
@import "../Bootstrapping/Mixins";

.input {
  height: 30px;
  line-height: 30px;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  font-size: @small-font;
  letter-spacing: 1px;
  padding-left: 10px;
  background-color: transparent;
  transition: border .1s linear, background-color .1s linear;

  &:focus {
    color: @first-level-color;
    border-color: @blue-color;
  }
}

.input-readonly {
  padding-left: 10px;
  border: none;
}

.textarea {
  border-color: @border-color;
  transition: border .1s linear, background-color .1s linear;

  &:focus {
    border-color: @blue-color;
  }
}

.form {
  font-size: @small-font;

  .input-readonly,
  .input,
  .select {
    width: 165px;
  }

  .input.auto-width {
    width: auto;
    min-width: 165px;
  }

  .btn-submit-wrap {
    display: flex;
    align-items: center;

    .vue-loading {
      margin-left: 12px;
    }
  }

  > .row,
  > .row-inline {
    > .cell {
      label {
        margin-bottom: 5px;
      }
    }

    > .cell-h {
      label {
        margin-right: 5px;
      }
    }
  }

  >.row-submit {
    position: relative;
    justify-content: center;

    .vue-loading {
      position: absolute;
      top: 3px;
      left: 50%;
      transform: translateX(50px);
    }
  }

  >.row-submit-left {
    align-items: center;

    .vue-loading {
      margin-left: 12px;
    }
  }

}
