@import "../Bootstrapping/Variables";

.menu-dropdown {
    min-width: 208px;
    border: 1px solid @borderColor;
    font-size: @smallFont;
    ul {
        padding: 12px 0;
        li {
            height: 32px;
            line-height: 32px;
            a {
                display: block;
                height:100%;
                padding: 0 15px;
            }
        }
        li:hover {
            background-color: @bgColor;
        }
    }
}